.bg-img {
  /* The image used */
  background-image: url("../Images/BACHAT.png");

  height: 1047px;

  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.page {
  position: absolute;
  margin: 21px;
  width: auto;
}

/* The navbar */
.topnav {
  margin-left: 470%;
}

/* Navbar links */
.topnav a {
  float: inline-end;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: rgb(198, 224, 240);
  color: green;
  font-size: 22px;
}
