@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: lemonchiffon;
  transition: all 0.5s ease;
}
span {
  color: green;
  font-weight: bolder;
  font-size: large;
}
.sidebar header {
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: green;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  text-underline-offset: inherit;
}
.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: green;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 5px solid transparent;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease;
  font-weight: bolder 2px;
  font-size: medium;
}
a:link {
  text-decoration: none;
}
a.active {
  color: red;
}
a:hover {
  font-size: 20px;
}
.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: darkorange;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all 0.5s ease;
}
#check #btn {
  visibility: visible;
}
label #cancel {
  opacity: 0;
  visibility: visible;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  margin-left: 245px;
  opacity: 0;
  visibility: visible;
}
#check:checked ~ label #cancel {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 860px) {
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,
  #btn,
  #cancel {
    display: none;
  }
  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: visible;
  }
  .sidebar a {
    height: 60px;
  }
  .sidebar a i {
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span {
    opacity: 6;
    visibility: visible;
  }
}
